@charset "utf-8";

body,h1,h2,h3,ul,ol,p,figure{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family:"Helvetica Neue",Helvetica,Arial,'Microsoft Sans Serif',SimHei,'宋体',simsun,sans-serif;
}
ul,ol{
    list-style: outside none none;
}

a{
    text-decoration: none;
}

.hidden{
    display: none;
}
#header{
    width: 100%;
    min-width:1263px;
    height: 70px;
    background-color: #333;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 10;
}
#header .center{
    width: 1263px;
    height: 70px;
    /*background-color: red;*/
    margin: 0 auto;
}
#header .logo{
    width: 240px;
    height: 70px;
    background-image: url('../imgs/logo1.jpg');
    /*首行缩进往左就看不见了*/
    text-indent: -2000px;
    float: left;
}
#header .link{
    /*background-color: red;*/
    float: right;
    width: 650px;
    height: 70px;
    line-height: 70px;
    color: #eee;
}
#header .link li{
    float: left;
    width: 120px;
    text-align: center;
}
#header .link a{
    color: #eee;
    /*background-color: blue;*/
    display: inline-block;
}
#header .link li:hover,
#header .link .active{
    background-color: black;
}
#footer{
    height: 360px;
    background-color: #222;
    clear: both;

}
#footer .top{
    width: 1263px;
    height: 280px;
    margin: 0 auto;
    /*background-color: red;*/
    text-align: center;
}

/*共有样式提取出来*/
#footer .block{
    width: 410px;
    height: 280px;
    /*background-color: red;*/
    display: inline-block;
    color: #ccc;
    text-align: left;
    vertical-align: top;
}
#footer a:hover{
    color: #555;
}
#footer a{
    color: #777;
}
#footer h2{
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0 20px;
}
#footer hr{
    width:90%;
    border: 1px dashed #333;
}
#footer ul{
    font-size: 18px;
    color: #777;
    text-indent: 20px;
    line-height:2;
}


#footer .bottom{
    height: 80px;
    background-color: #000;
    line-height: 80px;
    text-align: center;
    color: #777;
    border-top: 1px solid #444;
}
